<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.soundlocker.soundlocker" >
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
        android:name=".PasswordScreen"
        android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".WebViewer"
            android:label="@string/app_name" >
        </activity>
        <activity class = ".SongPickerScreen"
            android:name=".SongPickerScreen"
            android:label="@string/title_activity_list_view" >
        </activity>
        <activity class = ".ApplicationsList"
            android:name=".ApplicationsList"
            android:label="@string/title_activity_list_view" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ApplicationAdder"
            android:label="@string/title_application_adder"
            android:parentActivityName=".ApplicationsList" >
    </activity>
    </application>
</manifest>
